name: test

on:
  push:
    paths:
      - '**.json'
  workflow_dispatch:

env:
  LOG_LEVEL: debug

jobs:
  preset:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        file:
          - default.json
          - sveltekit.json
    env:
      RENOVATE_CONFIG_FILE: ${{ matrix.file }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: testing ${{ matrix.file }}
        run: npx --yes --package renovate@latest -- renovate-config-validator --strict
